html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

main{
    flex: 1 0 auto;
}

header{
    flex: 0 0 auto;
}

.help-block{
    color: #e74c3c;
    font-size: 12px;
}

.comment-h1{
    font-size: 22px;
    font-weight: bold;
}

.comment-h2{
    font-size: 20px;
    font-weight: bold;
}

.comment-h3{
    font-size: 18px;
    font-weight: bold;
}

.comment-h4{
    font-size: 16px;
    font-weight: bold;
}

.p-break{
    word-break: break-all;
}

.img-emoji{
    width: 25px;
    height: 25px;
}