html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

main{
    flex: 1 0 auto;
}

header{
    flex: 0 0 auto;
}

.help-block{
    color: #e74c3c;
    font-size: 12px;
}

