/*dark theme style*/
.a-link{
    color: white;
    text-decoration: none;
}

.a-link:hover{
    color: rgba(126,126,126,0.85);
}

.li-fade{
    color: #aaaaaa;
}

.li-fade:hover{
    color: #cccccc;
}

.user-home-title{
    font-weight: bold;
    font-size: 22px;
}

.user-sub-title{
    font-weight: bold;
    font-size: 18px;
}

.span-border-bottom{
    border-bottom: solid 5px #0b4961;
}

.div-user-page{
    border-radius: 5px;
    padding: 10px;
    background: #292b2c;
}

.div-blockquote-comment{
    border-radius: 5px;
    color: white;
    background: #353539;
    padding: 8px;
}

.div-blockquote-comment>p{
    margin-bottom: 3px;
}

.bg-nav, .bg-footer{
    background-color: #303030!important;
}