/*dark theme style*/
.social-label{
    background-color: #22303F;
    padding: 5px 15px 5px 6px;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 100%;
    cursor: pointer;
    text-decoration: none;
    color: rgb(169, 188, 214)!important;
}

.social-label:hover{
    background-color: #393F4E;
    color: #A9BCD6!important;
    outline: 0;
}

.a-link {
    color: white;
    text-decoration: none;
}

.a-link:hover {
    color: rgba(126, 126, 126, 0.85);
}

.li-fade {
    color: #aaaaaa;
}

.li-fade:hover {
    color: #cccccc;
}

.user-home-title {
    font-weight: bold;
    font-size: 22px;
}

.user-sub-title {
    font-weight: bold;
    font-size: 18px;
}

.span-border-bottom {
    border-bottom: solid 5px #0b4961;
}

.div-user-page {
    border-radius: 5px;
    padding: 10px;
    background: #292b2c;
}

.div-blockquote-comment {
    border-radius: 5px;
    color: white;
    background: #353539;
    padding: 8px;
}

.div-blockquote-comment > p {
    margin-bottom: 3px;
}

.bg-nav .bg-footer {
    background-color: #303030 !important;
}

.post-div {
    color: white;
    background: #303030;
    padding: 5px 15px 8px 15px;
    border-radius: 5px;
}

.post-content {
    color: white;
    background: #343434;
    padding: 8px;
    border-radius: 5px;
}

.div-left-person {
    background-color: #444444;
    margin: 0 !important;
    padding: 0 !important;
}

.div-left-person .top {
    height: 50px;
    border-bottom: 1px solid #8f8f8f;
    width: 100%;
    margin-bottom: 3px;
    alignment: left;
}

.top-right {
    height: 50px;
    border-bottom: 1px solid #8f8f8f;
    width: 100%;
    background-color: #49494b;
    margin-bottom: 3px;
    alignment: left;
}

/*私信页面样式*/
.div-msg-content {
    margin-left: 4px;
    border-radius: 5px;
    background-color: #585858;
    color: #eff0f1;
    padding: 3px;
    max-width: 280px;
}

.div-item:hover {
    background-color: #666666;
}

.li-active {
    background-color: #666666;
}

.msg-right {
    background: #9EEA6A;
    color: black;
}

.msg-right:hover {
    background: #98E165;
}

/*私信页面样式*/

.dropdown-toggle::after {
    color: white;
}

/*post tag style*/
.post-tag {
    border-radius: 15px;
    background: #585555;
    cursor: pointer;
    padding: 3px 8px 3px 8px;
    margin-bottom: 4px;
    font-size: 12px;
}

.post-tag:hover {
    background: #999999;
}

.post-tag-header {
    color: white;
    background: #343434;
    padding: 8px;
    border-radius: 5px 5px 0 0;
}

.post-tag-root{
    color: white;
    background: #303030;
    padding: 8px;
    border-radius: 0 0 5px 5px;
}

.elite-star{
    color: #ffc801
}

.hr-line{
    background-color: #1b71ca;
}

#previewHtml::-webkit-scrollbar{
    width: 6px;
    height: 4px;
}

#previewHtml::-webkit-scrollbar-thumb{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgb(233 221 221 / 20%);
    background: rgb(227 217 217);
}

#previewHtml::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    background: #303030;
}

.login-log::after {
    content: '';
    position: absolute;
    top: 70px;
    left: 24px;
    width: 1px;
    height: calc(100% - 174px);
    background: #66CCCC;
}

.login-log > .login-group > .login > .login-log-content > .login-icon {
    position: absolute;
    color: #FF99CC;
    background: #CCFF66;
    font-size: 15px;
    z-index: 2;
    width: 48px;
    height: 48px;
    left: 0;
    line-height: 3.2;
    border-radius: 50%;
    text-align: center;
}

.client-badge{
    background-color: #339999;
    border-radius: 5px;
    padding: 3px;
    color: white;
    font-size: 75%;
}