/*light theme style*/
.social-label{
    background-color: #F9F9F9;
    padding: 5px 15px 5px 6px;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 100%;
    cursor: pointer;
    text-decoration: none;
    color: rgb(119, 128, 135);
}

.social-label:hover{
    background-color: #e9e9e9;
    outline: 0;
    color: #4D5256;
}

.a-link {
    color: #0a0a0a!important;
    text-decoration: none;
}

.a-link:hover {
    color: #1b1e21!important;
}

.li-fade {
    color: #5b5b5b!important;
}

.li-fade:hover {
    color: #222222!important;
}

.span-border-bottom {
    border-bottom: solid 5px #68c684;
}

.post-div {
    color: #101010;
    background: #F5F6F3;
    padding: 5px 15px 8px 15px;
    border-radius: 5px;
}

.post-content {
    color: #101010;
    background: #E4E4E4;
    padding: 8px;
    border-radius: 5px;
}

/*私信页面样式*/
.div-left-person {
    background-color: #F5F6F3;
    margin: 0 !important;
    padding: 0 !important;
}

.div-left-person .top {
    height: 50px;
    border-bottom: 1px solid #b1afaf;
    width: 100%;
    margin-bottom: 3px;
    alignment: left;
}

.top-right {
    height: 50px;
    border-bottom: 1px solid #b1afaf;
    width: 100%;
    background-color: #F5F6F3;
    margin-bottom: 3px;
    alignment: left;
}

.div-msg-content {
    margin-left: 4px;
    border-radius: 5px;
    background-color: #ececeb;
    color: black;
    padding: 3px;
    max-width: 280px;
}

.div-item:hover {
    background-color: #d7d3d3;
}



/*私信页面样式*/
.li-active {
    background-color: #c1c1c1;
}

.msg-right {
    background: #9EEA6A;
}

.msg-right:hover {
    background: #98E165;
}

.msg-left {
    background: white;
}

.msg-left:hover {
    background: #cbcbcb;
}

.dropdown-toggle::after {
    color: black;
}

.div-blockquote-comment {
    border-radius: 5px;
    color: black;
    background: #E4E4E4;
    padding: 8px;
}

.div-blockquote-comment > p {
    margin-bottom: 3px;
}

/*post tag style*/
.post-tag {
    border-radius: 15px;
    background: #deded8;
    cursor: pointer;
    padding: 3px 8px 3px 8px;
    margin-bottom: 4px;
    font-size: 12px;
}

.post-tag:hover {
    background: #E4E4E4;
}


.post-tag-header {
    color: #101010;
    background: #f3f3f3;
    padding: 8px;
    border-radius: 5px 5px 0 0;
}

.post-tag-root {
    color: #101010;
    background: #eaeaea;
    padding: 8px;
    border-radius: 0 0 5px 5px;
}