{% extends "backend/base.html" %}
{% block content %}
    <div style="padding: 15px">
        <span class="layui-breadcrumb"><a href="/backend/index/">主页</a><a><cite>帖子管理</cite></a><a><cite>待审核帖子</cite></a></span>
        <table id="postTable" lay-filter="postTable"></table>
        <input type="number" id="tag" value="0" hidden>
    </div>
    <script type="text/html" id="audit-post">
        <input type="button" value="审核帖子" data-id="{{ '{{d.id}}' }}" id="{{ '{{d.id}}' }}"
               class="layui-btn layui-btn-normal layui-btn-sm"
               lay-filter="auditBtn" lay-submit="auditBtn">
    </script>
{% endblock %}
{% block script %}
    {{ super() }}
    <script>
        layui.use('table', function () {
            let layer = layui.layer
            let table = layui.table, form = layui.form;
            table.render(
                {
                    elem: '#postTable',
                    toolbar: '#topToolbar',
                    url: '/backend/post/post-audit/',
                    height: 'full-250',
                    limit: 20,
                    method: 'post',
                    skin: 'row|line',
                    even: true,
                    size: 'lg',
                    cols: [[
                        {field: 'id', title: '帖子ID', sort: true},
                        {field: 'username', title: '发布用户', sort: true},
                        {field: 'post-title', title: '帖子标题', sort: true},
                        {field: 'c-time', title: '发布时间', sort: true},
                        {field: 'audit', title: '审核帖子', templet: '#audit-post'}
                    ]],
                    page: true,
                    id: 'postTable'
                });

            form.on('submit(auditBtn)', function (obj) {
                let pid = obj.elem.attributes.getNamedItem('data-id').value
                layer.open({
                    type: 2,
                    title: '添加用户',
                    skin: 'layui-layer-molv',
                    area: ['80%', '80%'],
                    shadeClose: true,
                    resize: true,
                    anim: 2,
                    end: function () {
                        console.log($("#tag").val())
                        if ($("#tag").val() === '1') {
                            table.reload('postTable', {
                                page: {
                                    curr: table.page,
                                    limit: table.limit
                                }
                            })
                            $("#tag").val(0);
                        }

                    },
                    content: '/backend/post/post-audit/' + pid,
                })
            })
        });

        function openAudit(pid) {
            layer.open({
                type: 2,
                title: '帖子审核',
                skin: 'layui-layer-molv',
                area: ['80%', '80%'],
                shadeClose: true,
                resize: true,
                anim: 2,
                end: function () {
                    table.reload('postTable', {})
                },
                content: '/backend/post/post-audit/' + pid,
            })
        }
    </script>
{% endblock %}