alembic==1.14.0
APScheduler==3.11.0
beautifulsoup4==4.12.3
bleach==6.2.0
blinker==1.9.0
bs4==0.0.2
cachelib==0.13.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
Cython==0.29.37
dominate==2.9.1
Faker==33.3.1
Flask==2.2.5
Flask-APScheduler==1.13.1
Flask-Avatars==0.2.3
Flask-Bootstrap==3.3.7.1
Flask-CKEditor==1.0.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-Moment==1.0.6
Flask-OAuthlib==0.9.6
Flask-SQLAlchemy==3.1.1
flask-whooshee==0.9.1
Flask-WTF==1.2.2
greenlet==3.1.1
idna==3.10
itsdangerous==2.0.1
Jinja2==3.1.5
Mako==1.3.8
Markdown==3.7
MarkupSafe==3.0.2
numpy==2.2.1
oauthlib==2.1.0
packaging==24.2
pillow==11.1.0
psutil==6.1.1
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==5.4.1
redis==5.2.1
requests==2.32.3
requests-oauthlib==1.1.0
setuptools==75.8.0
six==1.17.0
soupsieve==2.6
SQLAlchemy==2.0.37
typing_extensions==4.12.2
tzlocal==5.2
urllib3==2.3.0
visitor==0.1.3
webencodings==0.5.1
Werkzeug==2.2.2
wheel==0.45.1
Whoosh==2.7.4
WTForms==3.2.1
