{% extends "frontend/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/selectize.bootstrap4.css') }}">
    <script rel="script" src="{{ url_for('static', filename='js/selectize.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-select/css/bootstrap-select.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap-select/js/bootstrap-select.min.js') }}"></script>
{% endblock %}
{% block title %}
    编辑帖子-{{ post.title }}
{% endblock %}
{% block content %}

    <body>
    <main>
        <div class="container mt-3">
            {% include "_flash.html" %}
            <h3 class="text-info"><strong>编辑帖子</strong></h3>
            <hr class="bg-secondary">
            <form action="/post/edit/{{ post.id }}/" method="post">
                {{ form.csrf_token }}
                {{ wtf.form_field(form.title) }}
                <div class="row">
                    <div class="col">
                        {{ wtf.form_field(form.category) }}
                    </div>
                    <div class="col">
                        {{ wtf.form_field(form.anonymous) }}
                    </div>
                </div>
                {{ wtf.form_field(form.tags) }}
                {{ form.body }}
                <div class="text-right">
                    {{ form.submit }}
                </div>
            </form>
        </div>
    </main>
    </body>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='body') }}
    <script>
        CKEDITOR.on('instanceReady', function (evt) {
            evt.editor.dataProcessor.htmlFilter.addRules({
                elements: {
                    img: function (el) {
                        el.addClass('img-fluid d-block mx-auto pic');
                    },
                    table: function (el) {
                        el.addClass('table table-responsive');
                    },
                    thead: function (el) {
                        el.addClass('thead-light');
                    },
                    blockquote: function (el) {
                        el.addClass('m-blockquote');
                    }
                }
            });
        });
        $('#post-tags').selectize({
            plugins: ['remove_button'],
            persist: false,
            createOnBlur: true,
            create: true,
            maxItems: 5
        });
        $('#category').selectpicker();
    </script>
{% endblock %}