{% extends "frontend/base.html" %}
{% from "macro.html" import reportModal, markdownHelp, confirmDelete, render_pagination, commentDiv, editComment with context %}
{% block head %}
    {{ super() }}
    {{ ckeditor.load_code_theme() }}
    <!--suppress ALL -->
    <style>

        .small-pic {
            height: 30%;
            width: 30%;
        }

        .post-title-h1 {
            font-size: 22px;
            font-weight: bold;
        }

        .hljs {
            display: block;
            padding: 0.5em;
            background: #23241f;
            overflow-y: hidden;
        }

        article > h1 {
            font-size: 20px;
            font-weight: bold;
            margin: 10px 0 10px 0;
            padding: 0 10px;
            border-left: 5px solid #20c997;
            line-height: 2em;
        }

        article > h2 {
            font-size: 18px;
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 5px 5px 5px 5px;
            border-bottom: 1px solid #28a745;
        }

        article > h3 {
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 5px 5px 5px 5px;
            border-bottom: 1px solid #28a745;
        }

        blockquote > p {
            font: 14px/22px normal helvetica, sans-serif;
            margin: 5px 0px 5px 0px;
            font-style: italic;
        }

        .report-textarea {
            height: 100px !important;
        }

        .preview {
            background: white;
            border-radius: 5px;
            color: black !important;
        }

        .blockquote-comment {
            margin-top: 5px;
            border-left: 6px solid #6c6c6c;
            background: #6c757d;
            color: white;
            padding: 8px;
        }

        .p-error-hint {
            color: #f94b43;
            display: none;
            font-weight: bold;
        }

        .p-reply {
            color: #80bdff;
            margin-bottom: 0px;
        }

        .div-comment-body {
            border-bottom: 1px solid #828286;
            padding-bottom: 6px;
        }

        .div-gutter20 {
            height: 20px;
        }

        @media screen and (max-width: 567px) {
            .div-gutter20 {
                height: 5px;
            }
        }

        .hr-margin-5 {
            margin: 5px 0 5px 0 !important;
        }
    </style>
{% endblock %}
{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    {{ moment.locale(auto_detect=True) }}
    <body>
    <main>
        <div class="container mt-2">
            {% include "_flash.html" %}
            {% include "frontend/big-image.html" %}
            <!-- 帖子主要信息 -->
            <ol class="breadcrumb mb-0 rounded-0">
                <li class="breadcrumb-item"><a class="text-decoration-none" href="/">主页</a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none"
                                               href="{{ url_for('post.post_cate', cate_id=post.cats.id) }}">{{ post.cats.name }}</a>
                </li>
                <li class="breadcrumb-item active d-lg-block d-none">{{ post.title }}</li>
            </ol>

            <div class="post-div rounded-0">
                <h1 class="post-title-h1" id="postTitle" data-id="{{ post.id }}">{{ post.title }}</h1>
                <div class="d-flex mb-0">
                    <p class="text-muted mr-2 mb-0"><i class="fa fa-thumbs-o-up mr-1"></i><span
                            class="d-none d-lg-inline-block">点亮</span>({{ post.likes }}) </p>
                    <p class="text-muted mr-2 mb-0"><i class="fa fa-thumbs-o-down mr-1"></i><span
                            class="d-none d-lg-inline-block">点灭</span>({{ -post.unlikes }}) </p>
                    <p class="text-muted mr-2 mb-0"><i class="fa fa-heart mr-1"></i><span
                            class="d-none d-lg-inline-block">收藏</span>({{ post.collects }}) </p>
                    <p class="text-muted mb-0"><i class="fa fa-calendar-minus-o mr-1"></i>{{ post.create_time }}</p>
                    {% if post.is_elite %}
                        <span class="elite-star ml-2" title="精品帖子"><i class="fa fa-star"></i></span>
                    {% endif %}
                </div>

                <div class="d-flex">
                    {% if post.is_anonymous == 1 %}
                        <img src="{{ post.user.avatar }}" class="rounded avatar-50">
                        <div class="d-flex">
                            <div>
                                <a class="ml-2 text-decoration-none"
                                   href="{{ url_for('profile.index', user_id=post.user.id) }}">{{ post.user.nickname }}</a>
                                <div class="d-flex">
                                    <a class="text-decoration-none ml-2"><span
                                            class="badge badge-pill badge-success">{{ post.user.college.name }}</span></a>
                                    <a class="text-decoration-none ml-2"><span
                                            class="badge badge-pill badge-info">{{ post.user.role.name }}</span></a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <img src="{{ url_for('static', filename='img/anonymous.jpeg') }}" class="rounded avatar-50">
                        <div class="d-flex">
                            <div>
                                <a class="ml-2 text-muted text-decoration-none">匿名</a>
                                <div class="d-flex">
                                    <a class="text-decoration-none ml-2"><span
                                            class="badge badge-pill badge-success">{{ post.user.college.name }}</span></a>
                                    <a class="text-decoration-none ml-2"><span
                                            class="badge badge-pill badge-info">{{ post.user.role.name }}</span></a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="mt-2">
                    <article>
                        {{ post.content|safe }}
                    </article>
                    {% for tag in p_tags %}
                        <label class="post-tag"><a style="color: inherit" class="text-decoration-none"
                                                   href="{{ url_for('post.post_tag', tag_id=tag.tag.id) }}">#{{ tag.tag.name }}</a></label>
                    {% endfor %}
                </div>
                {% if current_user.is_authenticated and current_user.id == post.user.id %}
                    <div class="d-flex flex-row-reverse mt-1">
                        <a class="text-decoration-none text-muted"
                           href="/post/edit/{{ post.id }}/"><small>编辑</small></a>
                        <a class="mr-2 text-decoration-none text-muted"
                           href="/post/delete/{{ post.id }}/"><small>删除</small></a>
                    </div>
                {% elif current_user.is_authenticated %}
                    <div class="d-flex flex-row-reverse mt-1">
                        <a class="text-decoration-none text-muted ml-2" data-toggle="modal" data-target="#exampleModal"
                           href="#"><small>举报</small></a>
                        <a class="text-decoration-none text-muted ml-2" href="/post/collect/{{ post.id }}/">
                            <small>
                                {% if c_tag %}
                                    取消收藏
                                {% else %}
                                    收藏
                                {% endif %}
                            </small>
                        </a>
                        {% if post.user_unliked() %}
                            <a class="text-decoration-none text-muted ml-2"
                               href="/post/unlike/{{ post.id }}/"><small>取消点灭</small></a>
                        {% elif post.user_liked() %}
                            <a class="text-decoration-none text-muted ml-2"
                               href="/post/like/{{ post.id }}/"><small>取消点亮</small></a>
                        {% else %}
                            <a class="text-decoration-none text-muted ml-2"
                               href="/post/unlike/{{ post.id }}/"><small>点灭</small></a>
                            <a class="text-decoration-none text-muted ml-2"
                               href="/post/like/{{ post.id }}/"><small>点亮</small></a>
                        {% endif %}
                        {% if current_user.role_id == 1 %}
                            {% if post.is_elite %}
                                <a class="text-decoration-none text-muted ml-2" href="{{ url_for('post.elite', post_id=post.id) }}"><small>取消精品贴</small></a>
                            {% else %}
                                <a class="text-decoration-none text-muted ml-2" href="{{ url_for('post.elite', post_id=post.id) }}"><small>精品贴</small></a>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="div-gutter20"></div>

            <!-- 评论主要信息 -->
            {% if comments %}
                <div class="post-div">
                    <div class=" mt-2">
                        <div class="d-flex div-comment-body">
                            {{ pagination.total }}条回复 &nbsp;&nbsp; · &nbsp;&nbsp;{{ post.update_time }}
                        </div>
                        {% for comment in comments %}
                            <div class="div-comment-body mt-2">
                                <!-- 评论用户个人信息 -->
                                <div class="d-flex">
                                    <div class="d-flex">
                                        {% if post.is_anonymous == 1 %}
                                            {{ commentDiv(comment, post) }}
                                        {% else %}
                                            {% if post.author_id == comment.author_id %}
                                                {{ commentDiv(comment, post, anonymous=True) }}
                                            {% else %}
                                                {{ commentDiv(comment, post) }}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- 用户评论内容 -->
                                <div class="mt-1">
                                    {% if comment.replied_id %}
                                        <div class="post-content">
                                            {% if not comment.replied.delete_flag %}
                                                <p class="mb-1 ">引用<a
                                                        href="/profile/user/{{ comment.replied.author.id }}/"
                                                        class="p-reply text-decoration-none">@{{ comment.replied.author.nickname }}</a>回复
                                                </p>
                                                {{ comment.replied.body|safe }}
                                            {% else %}
                                                <p class="mb-1 ">引用<a
                                                        href="/profile/user/{{ comment.replied.author.id }}/"
                                                        class="p-reply text-decoration-none">@{{ comment.replied.author.nickname }}</a>回复
                                                </p>
                                                <p class="text-muted mt-0"><b>由于作者删除或该评论违规已被隐藏</b></p>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {{ comment.body|safe }}
                                </div>
                                <!-- 对于该评论的操作 -->
                                <div class="d-flex flex-row-reverse mt-1">
                                    {% if current_user.is_authenticated %}
                                        {% if current_user.id == comment.author.id %}
                                            <a class="text-decoration-none text-muted ml-2" href="#"
                                               data-commid="{{ comment.id }}" data-toggle="modal"
                                               data-target="#confirm-delete">
                                                <small>删除</small>
                                            </a>
                                            {% if comment.md %}
                                                <a class="text-decoration-none text-muted ml-2" href="#"
                                                   data-commid="{{ comment.id }}" data-toggle="modal"
                                                   data-target="#edit-comment">
                                                    <small>编辑</small>
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            <a class="text-decoration-none text-muted ml-2" data-toggle="modal"
                                               data-target="#exampleModal" href="#"><small>举报</small></a>
                                            <a class="text-decoration-none text-muted ml-2 span-hand"
                                               data-commid="{{ comment.id }}"
                                               onclick="reply($(this).data('commid'), $(this).data('user'), $(this).data('userid'))"
                                               data-userid="{{ comment.author.id }}"
                                               data-user="{{ comment.author.username }}"><small>回复</small></a>
                                        {% endif %}
                                    {% endif %}
                                    <a class="text-decoration-none ml-2 text-muted flex-grow-1 text-left">
                                        <span data-toggle="tooltip" data-placement="right"
                                              data-timestamp="{{ comment.timestamps }}" data-delay="500"
                                              data-original-title=""
                                              title="{{ comment.timestamps }}"><small>{{ moment(comment.timestamps, local=True).fromNow(refresh=True) }}</small></span>
                                    </a>
                                    <a class="text-decoration-none ml-2 text-muted text-left"
                                       href="#"><small><span>#{{ loop.index + (page-1)*per_page }}</span></small></a>
                                </div>
                            </div>
                        {% endfor %}
                        {% if pagination.pages > 1 %}
                            <div class="d-flex flex-row-reverse mt-2">
                                {{ render_pagination(pagination=pagination, size='sm') }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="div-gutter20"></div>
            {% endif %}

            <!-- 评论框 -->
            <div class="post-div post-comment">
                <p id="commentPosition"></p>
                {% if current_user.is_authenticated %}
                    <div>
                        <ul class="nav nav-pills " role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#addComment"><i
                                        class="fa fa-commenting mr-2"></i>评论</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" onclick="getMarkDownData('commentContent', 'previewHtml')"
                                   data-toggle="pill"
                                   href="#previewComment"><i class="fa fa-print mr-2"></i>预览</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="addComment" class="tab-pane active">
                                <textarea onkeydown="tab(this)" class="form-control mt-2 report-textarea"
                                          style="height: 150px!important;" id="commentContent"
                                          placeholder="请输入评论内容"></textarea>
                                <div class="d-flex mt-1">
                                    <a class="mb-1 text-decoration-none mr-2 a-link" href="#" id="commentEmoji"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-smile-o mr-1"></i>表情
                                    </a>
                                    <div class="dropdown-menu" id="emoji-list" aria-labelledby="commentEmoji">
                                        {% for emoji_url in emoji_urls %}
                                            <div style="padding:3px">
                                                {% for emoji in emoji_url %}
                                                    <button class="btn p-1">
                                                        <img class="img-emoji"
                                                             src="{{ url_for('static', filename='emojis/'+emoji[0]) }}"
                                                             data-toggle="tooltip" data-placement="right"
                                                             title="{{ emoji.1 }}" alt="{{ emoji.1 }}"
                                                             data-emoji=":{{ emoji.1 }}:">
                                                    </button>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <a onclick="upload()" class="mb-1 text-decoration-none mr-2 a-link span-hand"><i
                                            class="fa fa-photo mr-1"></i>图片</a>
                                    <input type="file" id="uploadInput" onchange="uploadImage()" accept=".png"
                                           hidden="hidden">
                                    <a href="#" class="mb-1 text-decoration-none mr-2 a-link" data-toggle="modal"
                                       data-target="#markdownHelp"><i class="fa fa-file mr-1"></i>帮助</a>
                                    <p class="flex-grow-1 text-right mb-1 p-error-hint">请输入评论内容!</p>
                                </div>
                                <div class="d-flex flex-row-reverse">
                                    <button class="btn btn-info" id="commentBtn" onclick="postComment()">评论</button>
                                    <button hidden="hidden" id="replyBtn" onclick="replyComment()"
                                            class="btn btn-success mt-2">回复
                                    </button>
                                    <button hidden="hidden" id="cancleReplyBtn" onclick="cancleReply()"
                                            class="btn btn-danger mt-2 mr-2">取消
                                    </button>
                                    <a id="replyUserP" hidden="hidden"
                                       class="p-reply flex-grow-1 text-decoration-none"></a>
                                </div>
                            </div>
                            <!-- 评论预览界面 -->
                            <div id="previewComment" class="tab-pane fade">
                                <div id="previewHtml" class="mt-2" style="min-height: 50px">

                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="text-center">
                        <div class="card-body text-center m-2 m-md-3 f-16" id="no-editor">
                            <div>您尚未登录，
                                <a href="/auth/login/"><span class="badge badge-info">登录</span></a> 或
                                <a href="/auth/register/"><span class="badge badge-success">注册</span></a> 后评论
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- 举报内容填写模态框 -->
        {{ reportModal() }}
        {{ markdownHelp() }}
        {{ confirmDelete() }}
        {{ editComment() }}
        <script>
            let editCommentId = null
            $(document).ready(function () {
                let pics = $(".pic")
                for (let pic of pics) {
                    if (pic.height > 300) {
                        pic.className += ' small-pic'
                    }
                }
            })
            // 刷新页面清除保存在sessionStorage中的原始数据
            $(function () {
                sessionStorage.setItem('md', '');
            })

            function cancleReply() {
                $("#commentBtn").removeAttr('hidden');
                $("#replyBtn").attr('hidden', 'hidden');
                $("#cancleReplyBtn").attr('hidden', 'hidden');
                $("#replyUserP").html('');
                $("#replyUserP").attr('hidden', 'hidden');
            }

            function replyComment() {
                comment = isEmpty();
                if (!comment) {
                    return false;
                }
                commentId = sessionStorage.getItem('commentId');
                commentUserId = sessionStorage.getItem('commentUserId');
                postId = $("#postTitle").data('id');
                $.ajax({
                    type: "post",
                    url: "/post/reply-comment/",
                    data: {
                        "post_id": postId,
                        "comment_id": commentId,
                        "comment_user_id": commentUserId,
                        "comment": comment
                    },
                    success: function (res) {
                        window.location.reload();
                    }
                })
            }

            function reply(commentId, commentUser, commentUserId) {
                $("#commentBtn").attr('hidden', 'hidden');
                $("#replyBtn").removeAttr('hidden');
                $("#cancleReplyBtn").removeAttr('hidden');
                $("#replyUserP").removeAttr('hidden');
                $("#replyUserP").html('@' + commentUser);
                $("#replyUserP").attr('href', '/profile/user/' + commentUserId + '/');
                sessionStorage.setItem('commentId', commentId);
                sessionStorage.setItem('commentUserId', commentUserId);
                $('html,body').animate({scrollTop: $("#commentPosition").offset().top - 100}, 200)
            }

            var emoji_tag = $("#emoji-list img");
            emoji_tag.click(function () {
                var e = $(this).data('emoji');
                $("#commentContent").val($("#commentContent").val() + e);
            });

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

            // 预览评论
            function getMarkDownData(contentId, previewId) {
                let comment = $(`#${contentId}`).val();
                if (comment == '') {
                    $(`#${previewId}`).html('<p class="text-muted"><b>你还没有输入评论!</b></p>')
                    return false;
                }
                let last = sessionStorage.getItem('md');
                // 评论没有修改时,不发送预览请求
                if (last) {
                    if (last == comment) {
                        return false;
                    }
                }
                sessionStorage.setItem('md', comment);
                $.ajax({
                    type: "post",
                    url: '/normal/comment/render-md/',
                    data: {'md': comment},
                    success: function (res) {
                        $(`#${previewId}`).html(res.html);
                    }
                })
            }

            function saveEditComment() {
                let content = $("#editCommentContent").val()
                $.ajax({
                    url: '/post/edit-comment',
                    data: {commId: editCommentId, content},
                    method: 'post',
                    success: function (res) {
                        window.location.reload()
                    }
                })
            }

            // 评论框按键监听事件
            function tab(obj) {
                if (event.keyCode == 9) {
                    event.preventDefault();
                    var indent = '    ';
                    var start = obj.selectionStart;
                    var end = obj.selectionEnd;
                    var selected = window.getSelection().toString();
                    selected = indent + selected.replace(/\n/g, '\n' + indent);
                    obj.value = obj.value.substring(0, start) + selected
                        + obj.value.substring(end);
                    obj.setSelectionRange(start + indent.length, start
                        + selected.length);
                }
            }

            function isEmpty() {
                let comment = $("#commentContent").val();
                // 防止一直按回车键输入空白的评论内容
                if (comment.replace(/<br>/g, '').replace(/\s*/g, '') == '') {
                    $(".p-error-hint").slideDown(500);
                    $(".p-error-hint").show().delay(2000).hide(500);
                    return false;
                }
                if (!comment) {
                    $(".p-error-hint").slideDown(500);
                    $(".p-error-hint").show().delay(2000).hide(500);
                    return false;
                }
                return comment;
            }

            // 提交评论
            function postComment() {
                comment = isEmpty();
                if (!comment) {
                    return false;
                }
                let postId = $("#postTitle").data("id");
                $.ajax({
                    type: "post",
                    data: {"commentContent": comment, 'postId': postId},
                    url: "/post/post-comment/",
                    success: function (res) {
                        window.location.reload();
                    }
                })
            }

            function submitDelete(commId) {
                $.ajax({
                    url: '/post/delete-comment/',
                    type: 'POST',
                    data: {'comm_id': commId},
                    success: function (res) {
                        if (res.tag) {
                            window.location.reload();
                        } else {
                            alert("删除评论失败!");
                            return false;
                        }
                    },
                    error: function () {
                    }
                })
            }

            $("#confirm-delete").on("show.bs.modal", function (e) {
                let commID = $(e.relatedTarget).data('commid');
                $("#deleteBtn").val(commID);
            })

            $("#edit-comment").on('show.bs.modal', function (e) {
                let commId = $(e.relatedTarget).data('commid')

                if (commId != editCommentId) {
                    editCommentId = commId
                    $.ajax({
                        url: '/post/get-comment',
                        data: {'commId': editCommentId},
                        method: 'post',
                        success: function (res) {
                            $("#editCommentContent").text(res.markdown)
                        }
                    })
                }
            })

            function upload() {
                $("#uploadInput").click();
            }

            function uploadImage() {
                let img = $("#uploadInput")[0].files[0];
                let formdata = new FormData();
                formdata.append('file', img);
                $.ajax({
                    url: "/normal/ajax-upload/",
                    type: "post",
                    async: false,
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        insertText(document.getElementById('commentContent'), res.imgPath)
                    },
                    error: function () {
                        alert('上传图片失败!')
                    }
                })
            }

            // 在textarea中插入上传的图片markdown的值
            function insertText(obj, str) {
                if (document.selection) {
                    var sel = document.selection.createRange();
                    sel.text = str;
                } else if (typeof obj.selectionStart === 'number' && typeof obj.selectionEnd === 'number') {
                    var startPos = obj.selectionStart,
                        endPos = obj.selectionEnd,
                        cursorPos = startPos,
                        tmpStr = obj.value;
                    obj.value = tmpStr.substring(0, startPos) + str + tmpStr.substring(endPos, tmpStr.length);
                    cursorPos += str.length;
                    obj.selectionStart = obj.selectionEnd = cursorPos;
                } else {
                    obj.value += str;
                }
            }

        </script>
    </main>
    </body>
{% endblock %}
