{% extends "frontend/base.html" %}
{% from "macro.html" import post_item, render_pagination with context %}
{% block title %}
    主页
    {% if unread_count %}
        ({{ unread_count}})
    {% endif %}
{% endblock %}
{% block content %}
    {{ moment.locale(auto_detect=True) }}
    <main>
        <div class="container mt-2">
            {% include "_flash.html" %}
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('.index') }}">最新</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('.hot') }}">热帖</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('.latest') }}">最新</a>
                </li>
                {% for cate in categories %}
                    <li class="nav-item ">
                        {#                        <a class="nav-link" id="category{{ cate.id }}" href="{{ url_for('.category', category=cate.id) }}">{{ cate.name }}</a>#}
                        <a class="nav-link" id="category{{ cate.id }}"
                           href="{{ url_for('post.post_cate', cate_id=cate.id) }}">{{ cate.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            <hr class="bg-secondary">
            <div class="row">
                <div class="col-md-8 mt-1">
                    <div class="tab-content">
                        <div id="latestPost" class="tab-pane active">
                            {{ post_item(hots) }}
                            <div class="float-right mt-3">
                                {% if tag %}
                                    {{ render_pagination(pagination) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% include "frontend/slider.html" %}
            </div>
        </div>
    </main>
{% endblock %}