{% extends "frontend/base.html" %}
{% from "macro.html" import post_item, render_pagination with context %}
{% block title %}
    主页
{% endblock %}
{% block content %}
    {{ moment.locale(auto_detect=True) }}
    <main>
        <div class="container mt-2">
            {% include "_flash.html" %}
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('.index') }}">推荐</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('.hot') }}">热帖</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('.rands') }}">随机</a>
                </li>
                {% for cate in categories %}
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ url_for('.rands') }}">{{ cate.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            <hr class="bg-secondary">
            <div class="row">
                <div class="col-md-8 mt-1">
                    <div class="tab-content">
                        <div id="latestPost" class="tab-pane active">
                            {{ post_item(posts) }}
                        </div>
                    </div>
                </div>
                {% include "frontend/slider.html" %}
            </div>
        </div>
    </main>
    <script>
        $(document).ready(function () {
            let cateId = window.location.href.split('=')[1]
            $("#category" + cateId).addClass('nav-link active')
            if (cateId === undefined) {
                $("#categoryall").addClass('nav-link active')
            }
        })
    </script>
{% endblock %}