<!DOCTYPE html>
{% from "macro.html" import nav_item with context %}
<!--suppress ALL -->
<html lang="zh-hans">
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}-University-BBS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favorite.png') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename = 'img/favorite.png') }}" type="image/x-icon">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='themes/%s.bootstrap.min.css' % request.cookies.get('bbs_themes', 'darkly')) }}">
        <script src="{{ url_for('static', filename='validator/form-validation.js') }}"></script>
        <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='validator/form-validation.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/code.css') }}">
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
        <!-- 自定义的css样式 -->
        <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/dark.css') }}" rel="stylesheet">
    </head>
{% endblock %}

{% block nav %}
    <nav class="navbar navbar-expand-lg container">
            <a class="navbar-brand navbar-text" href="/">
                {% if request.cookies.get('bbs_themes', 'darkly') in ['darkly', 'cyborg'] %}
                    <img style="height: 60px;width: 80px" src="{{ url_for('static', filename='img/logoko-light.png') }}" alt="">
                {% else %}
                    <img style="height: 60px;width: 80px" src="{{ url_for('static', filename='img/logoko.png') }}" alt="">
                {% endif %}
            </a>
            <button class="navbar-toggler {% if request.cookies.get('bbs_themes', 'darkly') in ['darkly', 'cyborg'] %}navbar-dark bg-dark{% else %}navbar-light bg-light{% endif %}" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
            </ul>
                <form class="form-inline my-2 my-md-0" action="{{ url_for('normal.search') }}">
                    <input class="form-control" type="text" name="keyword" placeholder="请输入关键字" aria-label="Search"
                           required>
                </form>
                {% if current_user.is_authenticated and request.endpoint not in ['index_bp.index', 'index_bp.hot', 'index_bp.rands'] %}
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               title="欢迎回来,{{ current_user.username }}~">
                                <img class="nav-avatar" src="{{ current_user.avatar }}" alt={{ current_user.nickname }}>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mt-0 rounded-0 border-0"
                                 aria-labelledby="navbarDropdown">
                                <a class="dropdown-item pl-3"
                                   href="{{ url_for('profile.index', user_id=current_user.id) }}"><i
                                        class="fa fa-fw fa-user mr-2"></i>个人中心</a>
                                <a class="dropdown-item pl-3"
                                   href="{{ url_for('user.index', user_id=current_user.id) }}"><i
                                        class="fa fa-fw fa-cog mr-2"></i>设置</a>
                                {% if ntf_counts %}
                                    <a href="/accounts/profile" class="dropdown-item pl-3">
                                    <i class="fa fa-fw fa-bell mr-2"></i>消息
                                    <span class="badge badge-info">{{ ntf_counts }}</span>
                                {% endif %}
                                {% if current_user.role_id == 1 %}
                                    <a class="dropdown-item pl-3" href="/backend/admin/index/ "><i
                                            class="fa fa-fw fa-magnet mr-2"></i>后台管理</a>
                                {% endif %}
                                </a>
                                <a class="dropdown-item pl-3" href="/auth/logout"><i
                                        class="fa fa-fw fa-sign-out mr-2"></i>退出</a>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            </div>
    </nav>
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
    <footer class="container-fluid mt-4 py-0 bg-footer">
        <div class="card-body text-center px-0 f-14">
            <p class="card-text mb-1">Copyright&nbsp;©&nbsp;<span>2020</span>
                <a href="http://2dogz.cn/" class="text-decoration-none" target="_blank" title="官网">University BBS</a>&nbsp;Design&nbsp;by&nbsp;Flask1.01.
            </p>
        </div>
    </footer>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
</html>