<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='jquery-toast-plugin-1.3.2/dist/jquery.toast.min.css') }}"/>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-toast-plugin-1.3.2/dist/jquery.toast.min.js') }}"></script>
<script>
    const colors = {
        'success': '#51A351',
        'info': '#2F96B4',
        'warning': '#F89406',
        'danger': '#ff3025',
    };
    function showToast(message, type, duration=3000) {
        $.toast({
            heading: '通知',
            text: message,
            hideAfter: duration,
            allowToastClose: true,
            icon: type,
            bgColor: colors[type],
            position: 'bottom-right',
            showHideTransition: 'slide',
        });
    }
</script>