{% extends "frontend/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
    用户登录
{% endblock %}
{% block content %}
    <body>
    <main>
        <div class="container">
            {% include "_flash.html" %}
            <div class="jumbotron pt-5 pb-3 mt-2">
                <div class="row">
                    <div class="col-md-8">
                        <img alt="sample-img" src="{{ url_for('static', filename='img/index.jpg') }}"
                             class="rounded img-fluid d-none d-md-block">
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-3 w-100 bg-light align-self-center">
                            <div class="card-header"><h4 class="text-muted"><strong>用户登录</strong></h4></div>
                            <div class="card-body ">
                                <form class="bs-component" method="post">
                                    {{ form.csrf_token }}
                                    {{ wtf.form_field(form.usr_email) }}
                                    {{ wtf.form_field(form.password) }}
                                    {{ wtf.form_field(form.remember_me) }}
                                    {{ form.submit }}
                                    <hr class="hr-line">
                                    {% if oauth %}
                                        <p class="mb-1 mt-1"><span
                                                class="span-border-bottom"><small><b>第三方登录</b></small></span></p>
                                        <p class="mb-1">
                                        {% for k, v in third_parties.items() %}
                                            {% if v.get('enable') %}
                                            <a class="a-link" title="{{ k }}" href="{{ url_for('oauth_bp.oauth_login', provider_name=k) }}"><img src="{{ v.get('icon') }}" alt=""></a>
                                            {% endif %}
                                        {% endfor %}
                                        <hr class="hr-line">
                                    {% endif %}
                                    <small>没有账号? <a style="text-decoration: none;"
                                                    href="{{ url_for('.register') }}">注册.</a>
                                    </small>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </body>
{% endblock %}