{% extends "frontend/base.html" %}
{% from "macro.html" import profile_header, profile_moment with context %}
{% block head %}
    {{ super() }}
    <style>
        .img-profile-bg{
            border-radius: 50%;
            height: 150px;
            width: 150px;
            background-size: cover;
            background: no-repeat center;
        }
        @media screen and (max-width: 567px){
            .img-profile-bg{
                height: 75px;
                width: 75px;
            }
            .div-center-md{
                text-align: center;
            }
        }
    </style>
{% endblock %}

{% block title %}
    {{ user.nickname }}的个人主页
{% endblock %}
{% block content %}
    <body>
    <main>
        <div class="container mt-2">
            {{ profile_header() }}
            <hr class="bg-secondary">
            {{ profile_moment('评论') }}
        </div>
    </main>
    </body>
{% endblock %}
