{% extends "frontend/base.html" %}
{% from "macro.html" import profile_header, profile_moment with context %}
{% block title %}
    {{ user.nickname }}的正在
{% endblock %}
{% block content %}
    <body>
    <main>
        <div class="container mt-2">
            {{ profile_header() }}
            {{ profile_moment('社交') }}
            <div class="mt-3">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/social/{{ user.id }}/">粉丝</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active" href="/profile/following/{{ user.id }}/">关注</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    </body>
{% endblock %}