{% extends "frontend/base.html" %}
{% from "macro.html" import profile_header, profile_moment with context %}
{% block head %}
    {{ super() }}
    <style>
        .img-profile-bg{
            border-radius: 50%;
            height: 150px;
            width: 150px;
            background-size: cover;
            background: no-repeat center;
        }
        @media screen and (max-width: 567px){
            .img-profile-bg{
                height: 75px;
                width: 75px;
            }
            .div-center-md{
                text-align: center;
            }
        }
    </style>
{% endblock %}

{% block title %}
    {{ user.nickname }}的个人主页
{% endblock %}
{% block content %}
    <body>
    <main>
        <div class="container mt-2">
            {{ profile_header() }}
            <hr class="bg-secondary">
            {{ profile_moment('帖子') }}
            <div>
                <div>
                    <h3>使用flask-apscheduler控制定时任务遇到的问题</h3>
                    <p>简介 很多时候，由于我对每一个框架不是十分的熟悉，我们在使用的过程中都会或多或少遇到这样或者那样的问题，在使用flask-apscheduler的过程中，我同样也遇到了一些坑，在这里说明一下并总结一下解决方案。 定时任务不启动的问题 在我使用flask-apscheluder进行测试的时候，我发现定时任务不会启动，我的应用采…</p>
                    <div class="d-flex">
                        <a>评论30</a>
                        <a>收藏20</a>
                        <a>查看245</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </body>
{% endblock %}
