{% extends "frontend/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block head %}
    {{ super() }}
    <style>

    </style>
{% endblock %}
{% block title %}
    用户注册
{% endblock %}
{% block content %}
    <body>
    <main>
        <div class="container">

            <div class="jumbotron pt-5 pb-1 mt-2">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="text-muted"><b>欢迎注册加入狗子学院~</b></h3>
                        <hr class="bg-primary">
                        <p><b>在这里你可以:</b></p>
                        <ul>
                            <li>浏览当下校园的一些趣事、杂谈以及谁和谁的八卦</li>
                            <li>发布一些咸鱼交易、寻物启事等等</li>
                            <li>发现臭味相投的朋友、开拓自己的圈子</li>
                        </ul>
                        <img src="{{ url_for('static', filename='img/index.jpg') }}" class="rounded img-fluid">
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-3 w-100 bg-light">
                            <div class="card-header"><h4 class="text-muted"><strong>用户注册</strong></h4></div>
                            <div class="card-body">
                                {% include "_flash.html" %}
                                <form class="bs-component" action="/auth/register/" method="post">
                                    {{ form.csrf_token }}
                                    {{ wtf.form_field(form.user_name) }}
                                    {{ wtf.form_field(form.nickname) }}
                                    {{ wtf.form_field(form.user_email) }}
                                    {{ wtf.form_field(form.password) }}
                                    {{ wtf.form_field(form.confirm_pwd) }}
                                    {{ wtf.form_field(form.colleges) }}
                                    {{ form.submit }}
                                    <hr>
                                    <small>已有账号? <a style="text-decoration: none;" href="{{ url_for('.login') }}">登录.</a>
                                    </small>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    </body>
{% endblock %}