{% extends "frontend/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block head %}
    {{ super() }}
    <style>

    </style>
{% endblock %}
{% block title %}
    用户注册
{% endblock %}
{% block content %}
    <body>
    <main>
        <div class="container">
            <div class="jumbotron pt-5 pb-1 mt-2">
                <div class="row">
                    <div class="col-md-8 d-none d-md-block">
                        <h3 class="text-muted"><b>欢迎注册加入狗子学院~</b></h3>
                        <hr class="bg-primary">
                        <p><b>在这里你可以:</b></p>
                        <ul>
                            <li>浏览当下校园的一些趣事、杂谈以及谁和谁的八卦</li>
                            <li>发布一些咸鱼交易、寻物启事等等</li>
                            <li>发现臭味相投的朋友、开拓自己的圈子</li>
                        </ul>
                        <img src="{{ url_for('static', filename='img/index.jpg') }}" class="rounded img-fluid">
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-3 w-100 bg-light">
                            <div class="card-header"><h4 class="text-muted"><strong>用户注册</strong></h4></div>
                            <div class="card-body">
                                {% include "_flash.html" %}
                                <form class="bs-component" action="/auth/register/" method="post">
                                    {{ form.csrf_token }}
                                    {{ wtf.form_field(form.user_name) }}
                                    {{ wtf.form_field(form.nickname) }}
                                    {{ wtf.form_field(form.user_email) }}
                                    {{ wtf.form_field(form.password) }}
                                    {{ wtf.form_field(form.confirm_pwd) }}
                                    {{ wtf.form_field(form.colleges) }}
                                    <label for="captcha">验证码</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="captcha" id="captcha" placeholder="请输入验证码" aria-required="true" aria-describedby="captcha" required>
                                        <div class="input-group-append">
                                            <button class="btn btn-success" onclick="sendCapt()" id="sendCaptcha">发送</button>
                                        </div>
                                    </div>
                                    <p class="p-hint">验证码发送成功,10分钟内有效!</p>
                                    {{ form.submit }}
                                    <hr>
                                    <small>已有账号? <a style="text-decoration: none;" href="{{ url_for('.login') }}">登录.</a>
                                    </small>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        let time = 60;
        let reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;

        function sendCapt(){
            let $sendBtn = $("#sendCaptcha");
            let $email = $("#user_email");
            let $username = $("#user_name");
            if ($username.val() === '' || $email.val() === '' || !reg.test($email.val())){
                return false;
            }
            $sendBtn.attr('disabled', true);
            getRandomCode($sendBtn);
            $.ajax({
                url: '/normal/send-email/',
                type: 'post',
                data: {'user_name': $username.val(), 'user_email': $email.val()},
                success: function (res){
                    if (res.tag){
                        $(".p-hint").slideDown(500).delay(3000).hide(500);
                    }
                }
            })
        }

        //倒计时
        function getRandomCode(obj) {
            if (time === 0) {
                time = 60;
                obj.text('发送');
                obj.attr('disabled', false);
                return;
            } else {
                time--;
                obj.text(time+'(秒)');
            }
            setTimeout(function() {
                getRandomCode(obj);
            },1000);
        }
    </script>
    </body>
{% endblock %}