<style>
    .card-body {
        padding: 13px;
    }
</style>
<div class="col-md-4 mt-1">
    <div class="card border-secondary mb-2">
        <div class="card-header p-2"><i class="fa fa-user fa-fw mr-1"></i>用户</div>
        <div class="card-body">
            {% if not current_user.is_authenticated %}
                <div><small class="text-danger"><b>您尚未登录！</b></small>请先
                    <a href="/auth/login/"><span class="badge badge-info">登录</span></a> 或
                    <a href="/auth/register/"><span class="badge badge-success">注册</span></a>！
                </div>
            {% else %}
                <div class="d-flex">
                    <img src="{{ current_user.avatar }}" class="rounded avatar-50" alt="{{ current_user.username }}">
                    <div>
                        <p class="mb-1 ml-1 text-success"><b>{{ current_user.nickname }}</b></p>
                        <p class="mb-1 ml-1 text-muted"><small>@{{ current_user.username }}</small></p>
                    </div>
                    <div>
                        <a href="/post/new/" class="btn btn-secondary ml-2"><i class="fa fa-plus"></i></a>
                    </div>
                    {% if unread_count %}
                        <div>
                            <a class="ml-3 f-16 text-decoration-none"
                               href="{{ url_for('user.unread', user_id=current_user.id) }}"><label
                                    class="badge badge-info span-hand">{{ unread_count }}条未读</label></a>
                        </div>
                    {% endif %}
                </div>
                <hr class="bg-secondary">
                <div class="d-flex p-1">
                    <div class="pr-2 dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-dashboard fa-fw"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for theme_name, display_name in config.BBS_THEMES.items() %}
                                <a class="dropdown-item"
                                   href="{{ url_for('normal.change_theme', theme_name=theme_name, next=request.full_path) }}">
                                    {{ theme_name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list fa-fw"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ url_for('profile.index', user_id=current_user.id) }}"><i
                                    class="fa fa-fw fa-user mr-2"></i>个人中心</a>
                            <a class="dropdown-item" href="{{ url_for('user.index', user_id=current_user.id) }}"><i
                                    class="fa fa-fw fa-home mr-2"></i>个人主页</a>
                            {% if current_user.role_id == 1 %}
                                <a target="_blank" class="dropdown-item" href="{{ backend }}"><i
                                        class="fa fa-fw fa-magnet mr-2"></i>后台管理</a>
                            {% endif %}
                            <a class="dropdown-item" href="/auth/logout/"><i
                                    class="fa fa-fw fa-sign-out mr-2"></i>登出</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="card border-secondary mb-2">
        <div class="card-header p-2"><i class="fa fa-file-word-o fa-fw mr-1"></i>今日鸡汤</div>
        <div id="oneWord" class="card-body p-2 f-15">
            <i class="fa fa-spinner fa-spin f-hint"></i>
        </div>
    </div>

    <div class="card border-secondary mb-2">
        <div class="card-header p-2">
            <i class="fa fa-github fa-fw mr-1"></i>Github
        </div>
        <div class="card-body p-2 f-15">
            <div style="border-bottom: 1px solid rgba(58,10,10,0.19); margin-bottom: 5px;padding-bottom: 3px;"
                 class="d-flex">
                <a href="https://github.com/weijiang1994/" target="_blank"><img class="avatar-50" id="githubAvatar"
                                                                                alt="avatar"
                                                                                src="{{ url_for('static', filename='img/github-avatar.png') }}"></a>
                <div class="ml-2">
                    <h5 class="mb-0"><b>university-bbs</b></h5>
                    <small id="repoDesc">Use Flask development forum system.</small>
                </div>
                <a class="btn btn-sm btn-light h-25" id="githubStar"
                   href="https://github.com/weijiang1994/university-bbs" target="_blank">Star</a>
            </div>
            <div id="shield-svg" class="text-left pr-1 d-flex">
                <i class="fa fa-spinner fa-spin f-hint"></i>
            </div>
        </div>
    </div>

    <div class="card border-secondary mb-2">
        <div class="card-header p-2"><i class="fa fa-fire fa-fw mr-1"></i>今日热议</div>
        <div id="hot-posts" class="card-body p-2 f-15">
            {% if hot_posts|length %}
                <ol class="mb-0 pl-4">
                    {% for hp in hot_posts %}
                        <li><a href="{{ url_for('post.read', post_id=hp.id) }}"
                               class="text-decoration-none">{{ hp.title }}</a></li>
                    {% endfor %}
                </ol>
            {% else %}
                <p class="mb-0 f-12"><b>今日暂无热帖!</b></p>
            {% endif %}
        </div>
    </div>

    <div class="card border-secondary mb-2">
        <div class="card-header p-2"><i class="fa fa-random fa-fw mr-1"></i>随机推荐</div>
        <div id="hot-posts" class="card-body p-2 f-15">
            {% if rand_posts|length %}
                <ol class="mb-0 pl-4">
                    {% for hp in rand_posts %}
                        <li><a href="{{ url_for('post.read', post_id=hp.id) }}"
                               class="text-decoration-none">{{ hp.title }}</a></li>
                    {% endfor %}
                </ol>
            {% endif %}
        </div>
    </div>

    <div class="card border-secondary mb-2">
        <div class="card-header p-2"><i class="fa fa-futbol-o fa-fw mr-1"></i>最热类别</div>
        <div id="hot-category" class="card-body p-2 f-15">
            {% if hot_cates %}
                {% for hc in hot_cates %}
                    <a data-toggle="tooltip" data-placement="top" title="包含有{{ hc[2] }}个帖子" class="item-cate text-decoration-none" href="{{ url_for('post.post_cate', cate_id=hc[0]) }}">{{ hc[1] }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="card border-secondary mb-2">
        <div class="card-header p-2 d-flex">
            <span class=" flex-grow-1"><i class="fa fa-clock-o fa-fw mr-1"></i>最近添加类别</span>
            <a href="{{ url_for('post.all_category') }}" title="查看帖子全部分类"><i class="fa fa-bars"></i></a>
        </div>
        <div id="hot-posts" class="card-body p-2 f-15">
            {% if latest_cates %}
                {% for lc in latest_cates %}
                    <a class="item-cate text-decoration-none" href="{{ url_for('post.post_cate', cate_id=lc.id) }}">{{ lc.name }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="card border-secondary mb-2">
        <div class="card-header p-2"><i class="fa fa-dashboard fa-fw mr-1"></i>社区运行状况</div>
        <div id="hot-posts" class="card-body p-2 f-15 pl-4">
            <div class="d-flex">
                <div class="text-right">
                    <p class="mb-0">注册会员 </p>
                    <p class="mb-0">帖子 </p>
                    <p class="mb-0">回复 </p>
                    <p class="mb-0">今日访问 </p>
                </div>
                <div class="ml-2">
                    <p class="mb-0"><b>{{ all_users }}</b></p>
                    <p class="mb-0"><b>{{ all_posts }}</b></p>
                    <p class="mb-0"><b>{{ all_comments }}</b></p>
                    <p class="mb-0"><b>{{ today_visits }}</b></p>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/load-one/',
            type: 'get',
            success: function (res) {
                $("#oneWord").text(res.one)
            }
        })

        $.ajax({
            url: '/load-github/',
            type: 'get',
            success: function (res) {
                $(".f-hint").hide()
                if (res.tag === 1) {
                    $("#shield-svg").append('<div class="mr-1">' + res.star + '</div>');
                    $("#shield-svg").append('<div class="mr-1">' + res.fork + '</div>');
                }

                if (res.tag === 0) {
                    $("#shield-svg").text(res.info)
                }
            }
        })
    })
</script>
