<style>
    .card-body {
        padding: 13px;
    }
</style>
<div class="col-md-4 mt-1">
    <div class="card border-secondary mb-2">
        <div class="card-header"><i class="fa fa-user mr-2"></i>用户</div>
        <div class="card-body">
            {% if not current_user.is_authenticated %}
                <div><small class="text-danger"><b>您尚未登录！</b></small>请先
                    <a href="/auth/login/"><span class="badge badge-info">登录</span></a> 或
                    <a href="/auth/register/"><span class="badge badge-success">注册</span></a>！
                </div>
            {% else %}
                <div class="d-flex">
                    <img src="{{ current_user.avatar }}" class="rounded avatar-50" alt="{{ current_user.username }}">
                    <div>
                        <p class="mb-1 ml-1 text-success"><b>{{ current_user.nickname }}</b></p>
                        <p class="mb-1 ml-1 text-muted"><small>@{{ current_user.username }}</small></p>
                    </div>
                    <div>
                        <a href="/post/new/" class="btn btn-secondary ml-2"><i class="fa fa-plus"></i></a>
                    </div>
                    {% if unread_count %}
                        <div>
                            <a class="ml-3 f-12 text-decoration-none"
                               href="{{ url_for('user.unread', user_id=current_user.id) }}"><b>你有{{ unread_count }}条未读消息</b></a>
                        </div>
                    {% endif %}
                </div>
                <hr class="bg-secondary">
                <div class="d-flex p-1">
                    <div class="pr-2 dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-dashboard fa-fw"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for theme_name, display_name in config.BBS_THEMES.items() %}
                                <a class="dropdown-item"
                                   href="{{ url_for('normal.change_theme', theme_name=theme_name, next=request.full_path) }}">
                                    {{ theme_name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list fa-fw"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ url_for('profile.index', user_id=current_user.id) }}"><i
                                    class="fa fa-fw fa-user mr-2"></i>个人中心</a>
                            <a class="dropdown-item" href="{{ url_for('user.index', user_id=current_user.id) }}"><i
                                    class="fa fa-fw fa-cog mr-2"></i>设置</a>
                            {% if current_user.role_id == 1 %}
                                <a class="dropdown-item" href="{{ url_for('be_index.index') }}"><i
                                        class="fa fa-fw fa-magnet mr-2"></i>后台管理</a>
                            {% endif %}
                            <a class="dropdown-item" href="/auth/logout/"><i
                                    class="fa fa-fw fa-sign-out mr-2"></i>登出</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="card border-secondary mb-2">
        <div class="card-header"><i class="fa fa-file-word-o mr-2"></i>今日鸡汤</div>
        <div id="oneWord" class="card-body p-2 f-15">
            <i class="fa fa-spinner fa-spin f-hint"></i>
        </div>
    </div>

    <div class="card border-secondary mb-2">
        <div class="card-header">
            <i class="fa fa-github mr-2"></i>Github
        </div>
        <div class="card-body p-2 f-15">
            <div style="border-bottom: 1px solid rgba(58,10,10,0.19); margin-bottom: 5px;padding-bottom: 3px;"
                 class="d-flex">
                <a href="https://github.com/weijiang1994/" target="_blank"><img class="avatar-50" id="githubAvatar"
                                                                                alt="avatar"
                                                                                src="{{ url_for('static', filename='img/github-avatar.png') }}"></a>
                <div class="ml-2">
                    <h5 class="mb-0"><b>university-bbs</b></h5>
                    <small id="repoDesc">Use Flask development forum system.</small>
                </div>
                <a class="btn btn-sm btn-light h-25" id="githubStar"
                   href="https://github.com/weijiang1994/university-bbs" target="_blank">Star</a>
            </div>
            <div id="shield-svg" class="text-left pr-1 d-flex">
                <i class="fa fa-spinner fa-spin f-hint"></i>
            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/load-one/',
            type: 'get',
            success: function (res) {
                $("#oneWord").text(res.one)
            }
        })

        $.ajax({
            url: '/load-github/',
            type: 'get',
            success: function (res) {
                $(".f-hint").hide()
                if (res.tag === 1) {
                    $("#shield-svg").append('<div class="mr-1">' + res.star + '</div>');
                    $("#shield-svg").append('<div class="mr-1">' + res.fork + '</div>');
                }

                if (res.tag === 0) {
                    $("#shield-svg").text(res.info)
                }
            }
        })
    })
</script>
