<div class="col-md-4 mt-1">
    <div class="card border-secondary mb-2">
        <div class="card-header"><i class="fa fa-user mr-2"></i>用户</div>
        <div class="card-body">
            {% if not current_user.is_authenticated %}
                <div><small class="text-danger"><b>您尚未登录！</b></small>请先
                    <a href="/auth/login/"><span class="badge badge-info">登录</span></a> 或
                    <a href="/auth/register/"><span class="badge badge-success">注册</span></a>！
                </div>
            {% else %}
                <div class="d-flex">
                    <img src="{{ current_user.avatar }}" class="rounded avatar-50">
                    <div>
                        <p class="mb-1 ml-1 text-success"><b>{{ current_user.nickname }}</b></p>
                        <p class="mb-1 ml-1 text-muted"><small>@{{ current_user.username }}</small></p>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <a href="/post/new/" class="btn btn-secondary h-75 ml-2"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
                <hr class="bg-secondary">
                <div class="d-flex p-1">
                    <div class="pr-2 dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            主题
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for theme_name, display_name in config.BBS_THEMES.items() %}
                                <a class="dropdown-item"
                                   href="{{ url_for('normal.change_theme', theme_name=theme_name, next=request.full_path) }}">
                                    {{ theme_name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            操作
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{url_for('profile.index', user_id=current_user.id)}}"><i class="fa fa-fw fa-user mr-2"></i>个人中心</a>
                            <a class="dropdown-item" href="{{url_for('user.index', user_id=current_user.id)}}"><i class="fa fa-fw fa-cog mr-2"></i>设置</a>
                            {% if current_user.role_id == 1 %}
                                <a class="dropdown-item" href="{{url_for('be_index.index')}}"><i class="fa fa-fw fa-magnet mr-2"></i>后台管理</a>
                            {% endif %}
                            <a class="dropdown-item" href="/auth/logout/"><i class="fa fa-fw fa-sign-out mr-2"></i>登出</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="card border-secondary mb-2">
        <div class="card-header"><i class="fa fa-desktop mr-2"></i>今日鸡汤</div>
        <div class="card-body">
            今日鸡汤
        </div>
    </div>

    <div class="card border-secondary mb-3 ">
        <div class="card-header"><i class="fa fa-fire mr-2"></i>今日热点</div>
        <div class="card-body">
            <h4 class="card-title">Secondary card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

</div>
