<h3 style="font-weight: bold;font-size: 18px">Hello Admin,</h3>
<p>You have a new post to review, please click the link below to review.</p>
<a style="background: #7abaff;text-decoration: none"
   href="{{ url_for('post_manage.post_audit', _external=True) }}">审核帖子</a>
<div style="border: gray solid 1px;border-radius: 5px;padding: 10px">
    <p><strong>{{ post.title }}</strong></p>
    <article>
        {{ post.content|safe }}
    </article>
</div>

<p style="color: red; font-style: italic"> If this operate is not by yourself, please change your password right
    now!Maybe your account was cracked.</p>
<small>(Please do not reply to this notification, this inbox is not monitored.)</small>
