<h3 style="font-weight: bold;font-size: 18px">Hello {{ username }},</h3>
<p>Welcome to join the <a href="https://bbs.2dogz.cn">University BBS</a>!This is your register captcha below here.</p>
<h1><strong>{{ ver_code }}</strong></h1>
<h5><b><i>The captcha will expire after 10 minutes.</i></b></h5>
<p style="color: red; font-style: italic"> If this operate is not by yourself, please change your password right now!Maybe your account was cracked.</p>
<small>(Please do not reply to this notification, this inbox is not monitored.)</small>
