{% extends "frontend/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
    忘记密码
{% endblock %}
{% block content %}
    <body>
    <main>
        <div class="container h-100">
            {% include '_flash.html' %}
            <div class="d-flex h-100 justify-content-center align-items-center">
                <div class="text-center">
                    <h3><strong>重置密码</strong></h3>
                    <div class="card">
                        <div class="card-body">
                            <label style="font-weight: bold">输入您的用户帐户的验证电子邮件地址，我们将发送给您一个密码重置链接。</label>
                            <form action="{{ url_for('auth.reset_password') }}" method="post">
                                <input class="form-control" placeholder="请输入注册邮箱" name="email" type="email"
                                       id="registerEmail">
                                <br>
                                <div class="text-center">
                                    <button class="btn btn-success text-center">发送密码重置邮件</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </body>
{% endblock %}