{% extends "frontend/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
    忘记密码
{% endblock %}
{% block content %}
    <body>
    <main>
        <div class="container h-100">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <div style="padding: 5px; border: 1px solid cornflowerblue">
                    {% include '_flash.html' %}
                    {{ form.csrf_token }}
                    {{ wtf.form_field(form.email) }}
                    {{ wtf.form_field(form.password) }}
                    {{ wtf.form_field(form.password2) }}
                    {{ wtf.form_field(form.captcha) }}
                    {{ form.submit }}
                </div>

            </div>
        </div>
    </main>
    </body>
{% endblock %}