{% extends "frontend/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
    忘记密码
{% endblock %}
{% block content %}
    <style>
        @media screen and (max-width: 756px) {
            .w-50 {
                width: 100%!important;
            }
        }
    </style>
    <body>
    <main>
        <div class="container h-100">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <div style="padding: 15px; border: 1px solid cornflowerblue; border-radius: 5px" class="w-50">
                    {% include '_flash.html' %}
                    <form class="bs-component" method="post">
                        {{ form.csrf_token }}
                        {{ wtf.form_field(form.email) }}
                        {{ wtf.form_field(form.password) }}
                        {{ wtf.form_field(form.password2) }}
                        {{ wtf.form_field(form.captcha) }}
                        {{ form.submit }}
                    </form>
                </div>

            </div>
        </div>
    </main>
    </body>
{% endblock %}