{% extends "frontend/base.html" %}
{% from "macro.html" import user_page_header, user_page_header_ul with context %}
{% block title %}
    {{ user.nickname }}的个人主页
{% endblock %}
{% block content %}
    <body>
    <main>
        <div class="container mt-2">
            <div class="row">
                <div class="col-md-3">
                    {{ user_page_header_ul('隐私设置') }}
                    {{ user_page_header('隐私设置') }}
                </div>
                <div class="col-md-8">
                    {% include "_flash.html" %}
                    <p class="user-home-title d-none d-lg-block"><span class="span-border-bottom">隐私设置</span></p>
                    <div class="mt-2 div-user-page">
                        <input type="radio" value="全部" >
                        <input type="radio" value="半年" >
                        <input type="radio" value="一月" >
                        <input type="radio" value="三天" >
                        <input type="radio" value="隐藏" >
                    </div>
                </div>
            </div>
        </div>
    </main>
    </body>
{% endblock %}