{% extends "frontend/base.html" %}
{% from "macro.html" import user_page_header, user_page_header_ul, chat_content with context %}
{% block title %}
    {{ user.nickname }}的个人主页
{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        /*.div-left-person{
            background-color: #444444;
            margin: 0!important;
            padding: 0!important;
        }

        .div-left-person .top{
            height: 50px;
            border-bottom: 1px solid #8f8f8f;
            width: 100%;
            margin-bottom: 3px;
            alignment: left;
        }

        .top-right{
            height: 50px;
            border-bottom: 1px solid #8f8f8f;
            width: 100%;
            background-color: #49494b;
            margin-bottom: 3px;
            alignment: left;
        }*/
        .top-right > p {
            font-weight: bold;
            font-size: 16px;
            padding-left: 5px;
            position: absolute;
            top: 15px
        }

        .top > p {
            position: absolute;
            top: 15px;
            left: 94px;
        }

        /*.li-active{
            background-color: #666666;
        }*/

        .ul-list-person {
            padding: 0;
            height: 500px;
            list-style: none;
            max-height: 500px;
            overflow-y: scroll;
        }

        .div-item {
            padding: 3px 15px 3px 15px;
            margin-top: 5px;
        }

        /*.div-item:hover{
            background-color: #666666;
        }*/

        .p-contact-person {
            margin-bottom: 2px;
        }

        /*.div-msg-content{
            margin-left: 4px;
            border-radius: 5px;
            background-color: #585858;
            color: #eff0f1;
            padding: 3px;
            width: 280px;
            max-width: 280px;
        }*/

        .div-msg-content > p {
            margin-bottom: 2px;
        }

        .div-chat {
            display: none;
        }

        /*滚动条样式*/
        ::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, .1);
            border-radius: 0;
        }

        ::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 10px;
            height: 10px;
        }

        ::-webkit-scrollbar-thumb {
            cursor: pointer;
            border-radius: 5px;
            background: rgba(0, 0, 0, .25);
            transition: color .2s ease;
        }

        .div-chat-outer {
            height: 500px;
            max-height: 500px;
            overflow-y: scroll;
        }

        .div-chat-content {
            display: none;
        }

        .msg-active {
            display: block;
        }

        .write {
            padding: 10px;
            top: 500px;
        }
    </style>
{% endblock %}
{% block content %}
    <body>
    <main>
        <div class="container mt-2">
            <div class="row">
                <div class="col-md-3">
                    {{ user_page_header_ul('私信') }}
                    {{ user_page_header('私信') }}
                </div>
                <div class="col-md-8">
                    {% include "_flash.html" %}
                    {% if not right_senders %}
                        <div class="mt-5 text-center">
                            <h5>您暂时还没有收到过私信!</h5>
                        </div>
                    {% else %}
                        <div class="d-md-block d-none">
                            <div class="row">
                                <!-- 左边列表栏 -->
                                <div class="col-md-4 div-left-person">
                                    <div class="top"><p>私信</p></div>
                                    <ul class="ul-list-person">
                                        {% for cp in right_senders %}
                                            <li class="span-hand" data-chat="person{{ cp.id }}">
                                                <div class="d-flex div-item">
                                                    <img class="img-profile-bg-50 align-items-center"
                                                         src="{{ cp.avatar }}"
                                                         alt="{{ cp.nickname }}">
                                                    <div class="ml-2">
                                                        <p class="p-contact-person friend-name">{{ cp.nickname }}</p>
                                                        <p class="p-contact-person">
                                                            <small>{{ person_messages[loop.index0][-1].content|my_truncate(5) }}</small>
                                                        </p>
                                                    </div>
                                                    {% if unread_counts[loop.index0] > 0 %}
                                                        <div id="person{{ cp.id }}" class="flex-grow-1 text-right"><span
                                                                class="badge badge-danger">{{ unread_counts[loop.index0] }}</span>
                                                        </div>
                                                    {% else %}
                                                        <div id="person{{ cp.id }}" class="flex-grow-1 text-right"><span
                                                                class="badge badge-success"></span></div>
                                                    {% endif %}
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-md-8 div-left-person right">
                                    <div class="top-right"><p>{{ right_senders[0].nickname }}</p></div>
                                    <div class="div-chat-outer">
                                        {% for pms in person_messages %}
                                            <div class="div-chat-content"
                                                 data-chat="person{{ right_senders[loop.index0].id }}">
                                                {% for pm in pms %}
                                                    {% if pm.sender_id == current_user.id %}
                                                        <div class="d-flex flex-row-reverse mb-2 mr-1">
                                                            <img class="img-profile-bg-50 ml-1"
                                                                 src="{{ current_user.avatar }}"
                                                                 alt="{{ current_user.nickname }}">
                                                            <div class="div-msg-content">
                                                                <small><b>{{ pm.c_time }}</b></small>
                                                                <p style="font-size: 14px">{{ pm.content }}</p>
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <div class="d-flex mb-2 ml-1">
                                                            <img class="img-profile-bg-50"
                                                                 src="{{ pm.send_user.avatar }}"
                                                                 alt="{{ pm.send_user.nickname }}">
                                                            <div class="div-msg-content">
                                                                <small><b>{{ pm.c_time }}</b></small>
                                                                <p style="font-size: 14px">{{ pm.content }}</p>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="write">
                                        <div class="text-center">
                                            <p class="p-hint-error">请输入消息内容！</p>
                                        </div>
                                        <textarea class="form-control h-100" id="messageBox"
                                                  placeholder="请输入需要发送的消息,按Alt+Enter键发送"></textarea>
                                        <div class="mt-1 text-right">
                                            <button class="btn btn-primary" onclick="sendMessage()">发送</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-sm-block d-lg-none">
                            <ul class="list-group mt-3">
                                {% for rs in right_senders %}
                                    <li class="list-group-item">
                                        <div class="d-flex">
                                            <div class="d-flex align-items-center">
                                                <img class="avatar-50" src="{{ rs.avatar }}" alt="{{ rs.nickname }}">
                                            </div>
                                            <div class="d-block ml-2 w-100">
                                                <div class="d-flex">
                                                    <p class="mb-0 ">{{ rs.nickname }}</p>
                                                    {% if unread_counts[loop.index0] > 0 %}
                                                        <p class="text-right flex-grow-1"><span
                                                                class="badge badge-danger">{{ unread_counts[loop.index0] }}条未读</span>
                                                        </p>
                                                    {% else %}
                                                        <p class="text-right flex-grow-1">{{ person_messages[loop.index0][-1].c_time }}</p>
                                                    {% endif %}
                                                </div>
                                                <div class="d-flex">
                                                <p class="mb-0 flex-grow-1">{{ person_messages[loop.index0][-1].content|my_truncate(10) }}</p>
                                                    <a href="{{ url_for('user.look_message', person_id=rs.id) }}" class="text-decoration-none"><small>查看消息</small></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    </body>
    <script rel="script">
        let currentPerson = "person{{ right_senders[0].id  }}"
        let currentUserAvatar = "{{ current_user.avatar }}"
        let currentUserNickname = "{{ current_user.nickname }}"
        let currentID = "{{ current_user.id }}"

        // 消息输入框按键监听
        $("#messageBox").on('keyup', function (event) {
            let alt = event.altKey
            if (alt && event.keyCode === 13) {
                sendMessage()
            }
        })

        // 给对方回复消息
        function sendMessage() {
            let messageContent = $("#messageBox").val().trim()

            if (messageContent === '') {
                $(".p-hint-error").slideDown(500).delay(2000).hide(500)
                return false
            }
            $(`.div-chat-content[data-chat=${currentPerson}]`).append(
                `<div class="d-flex flex-row-reverse mb-2 mr-1">
                <img class="img-profile-bg-50 ml-1" src="${currentUserAvatar}" alt="${currentUserNickname}">
                <div class="div-msg-content">
                <small><b>2021-11-22 16:01:56</b></small>
                <p style="font-size: 14px">${messageContent}</p>
                <small id="sendHint" class="text-primary"><b>正在发送</b><i class="fa fa-spin fa-spinner"></i></small>
                </div>
                </div>`
            )
            $.ajax({
                url: "{{ url_for('user.send_message') }}",
                type: "post",
                data: {
                    'message': messageContent,
                    'receiverID': currentPerson.split('person').pop(),
                    'senderID': currentID
                },
                success: function (res) {
                    if (res.code === 200) {
                        $("#sendHint").text(res.msg)
                        $("#messageBox").val('')
                        setTimeout(function () {
                            $("#sendHint").remove()
                        }, 2000)
                    } else {
                        $("#sendHint").text(res.msg)
                    }
                }
            })
        }

        function scrollToBottom() {
            let $messages = $('.div-chat-content');
            $messages.scrollTop($messages[0].scrollHeight);
        }

        {% if right_senders %}
            document.querySelector('.span-hand[data-chat="person{{ right_senders[0].id }}"]').classList.add('li-active');
            document.querySelector('.div-chat-content[data-chat="person{{ right_senders[0].id }}"]').classList.add('msg-active');

            readMessage("person{{ right_senders[0].id }}")

            let friends = {
                list: document.querySelector('ul.ul-list-person'),
                all: document.querySelectorAll('.div-left-person .span-hand'),
                name: ''
            };

            let chat = {
                container: document.querySelector('.right'),
                current: null,
                person: null,
                name: document.querySelector('.top-right >p')
            };

            friends.all.forEach(function (f) {
                f.addEventListener('mousedown', function () {
                    f.classList.contains('.li-active') || setActiveChat(f);
                });
            });

            function setActiveChat(f) {
                friends.list.querySelector('.li-active').classList.remove('li-active');
                f.classList.add('li-active');
                chat.current = chat.container.querySelector('.msg-active');
                chat.person = f.getAttribute('data-chat');
                chat.current.classList.remove('msg-active');
                chat.container.querySelector('[data-chat="' + chat.person + '"]').classList.add('msg-active');
                friends.name = f.querySelector('.friend-name').innerText;
                chat.name.innerHTML = friends.name;
                chat.container.querySelector('.msg-active').scrollTop = chat.container.querySelector('.msg-active').scrollHeight;
                currentPerson = chat.person
                // 更新当前person的消息为已读状态
                readMessage(chat.person)
            }

            // 标记当前person的消息为已读状态
            function readMessage(sender) {
                $.ajax({
                    url: "{{ url_for('user.read_private_message', user_id=current_user.id) }}",
                    type: "post",
                    data: {'senderID': sender},
                    success: function (res) {
                        if (res.code === 200) {
                            $("#" + sender).hide()
                            $("#unreadMessage").text(res.unread)
                        }
                    }
                })
            }
        {% endif %}
    </script>
{% endblock %}
