{% extends "frontend/base.html" %}
{% from "macro.html" import user_page_header, user_page_header_ul with context %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from 'bootstrap/form.html' import render_form %}

{% block head %}
    {{ super() }}
    <!--suppress ALL -->
    <link rel="stylesheet" href="{{ url_for('static', filename='jcrop/css/jquery.Jcrop.min.css') }}">
    <script src="{{ url_for('static', filename='jcrop/js/jquery.Jcrop.min.js') }}"></script>
    {{ avatars.init_jcrop() }}
    <style>
        #preview-box {
            display: block;
            position: absolute;
            top: 10px;
            right: -280px;
            padding: 6px;
            border: 1px rgba(0, 0, 0, .4) solid;
            background-color: white;

            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;

            -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
        }

    </style>
{% endblock %}
{% block title %}
    {{ user.nickname }}的个人主页
{% endblock %}
{% block content %}
    <body>
    <main>
        <div class="container mt-2">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    {{ user_page_header_ul('资料编辑') }}
                    {{ user_page_header('资料编辑') }}
                </div>
                <div class="col-lg-9 col-md-3">
                    {% include "_flash.html" %}
                    <p class="user-home-title d-none d-lg-block"><span class="span-border-bottom">资料编辑</span></p>
                    <div class="mt-2">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active mt-2" id="avatar" role="tabpanel" aria-labelledby="avatar-tab">
                                <form class="form-control-file" enctype="multipart/form-data" method="post" action="/user/upload-avatar/">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="custom-file">
                                                <input type="file" name="image" class="custom-file-input" onchange="setFilename()" required id="inputGroupFile02">
                                                <label class="custom-file-label" id="filenameLabel" for="inputGroupFile02">选择文件</label>
                                            </div>
                                            <div class="input-group-append">
                                                <input type="submit" class="input-group-text">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <small class="text-muted">
                                    <b>头像文件格式必须为.jpg或者.png且最大不超过2M！</b>
                                </small>
                                <div class="mt-2">
                                    {#                                    <img id="dropImage" class="img-fluid" src="/normal/image/avatar_raw/{{ user.avatar_raw }}">#}
                                    {{ avatars.crop_box('normal.get_avatar_raw', current_user.avatar_raw, clsname='img-fluid') }}
                                    <form method="post" action="{{ url_for('.crop_avatar') }}">
                                        <input type="hidden" id="x" name="x">
                                        <input type="hidden" id="y" name="y">
                                        <input type="hidden" id="w" name="w">
                                        <input type="hidden" id="h" name="h">
                                        <input type="submit" class="btn btn-success mt-2" value="Crop!">
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </body>
    <script>

        function setFilename() {
            let filename = $("#inputGroupFile02")[0].files[0];
            $("#filenameLabel").text(filename.name);
        }
    </script>
{% endblock %}