{% extends "frontend/base.html" %}
{% from "macro.html" import user_page_header, user_page_header_ul with context %}
{% block title %}
    {{ user.nickname }}的个人主页
{% endblock %}
{% block content %}
    <body>
    <main>
        <div class="container mt-2">
            <div class="row">
                <div class="col-md-3">
                    {{ user_page_header_ul('通知') }}
                    {{ user_page_header('通知') }}
                </div>
                <div class="col-md-8">
                    {% include "_flash.html" %}
                    <p class="user-home-title d-none d-lg-block"><span class="span-border-bottom">通知</span></p>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="/user/notification-read/{{ user.id }}/">已读</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/user/notification-unread/{{ user.id }}/">未读</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    </body>
{% endblock %}