{% extends "frontend/base.html" %}
{% from "macro.html" import user_page_header, user_page_header_ul with context %}
{% block title %}
    {{ user.nickname }}的个人主页
{% endblock %}
{% block content %}
    <body>
    <main>
        <div class="container mt-2">
            <div class="row">
                <div class="col-md-3">
                    {{ user_page_header_ul('隐私设置') }}
                    {{ user_page_header('隐私设置') }}
                </div>
                <div class="col-md-8">
                    {% include "_flash.html" %}
                    <p class="user-home-title d-none d-lg-block"><span class="span-border-bottom">隐私设置</span></p>
                    <div class="mt-2 div-user-page">
                        <form action="{{ url_for('user.privacy_setting', user_id=current_user.id) }}" method="post">
                            <div>
                                <h4 class="user-sub-title">帖子设置</h4>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="postPrivacy" id="allPost"
                                            {% if user.post_range_id==1 %}
                                           checked
                                            {% endif %} value="1">
                                    <label class="form-check-label" for="allPost">全部</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="postPrivacy" id="halfYearPost" {% if user.post_range_id==2 %}
                                           checked
                                    {% endif %} value="2">
                                    <label class="form-check-label" for="halfYearPost">半年</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="postPrivacy" id="monthPost" {% if user.post_range_id==3 %}
                                           checked
                                    {% endif %} value="3">
                                    <label class="form-check-label" for="monthPost">一月</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="postPrivacy" {% if user.post_range_id==4 %}
                                           checked
                                    {% endif %} id="threeDaysPost" value="4">
                                    <label class="form-check-label" for="threeDaysPost">三天</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="postPrivacy" id="hiddenPost" {% if user.post_range_id==5 %}
                                           checked
                                    {% endif %} value="5">
                                    <label class="form-check-label" for="hiddenPost">隐藏</label>
                                </div>
                            </div>
                            <hr class="bg-primary">
                            <div>
                                <h4 class="user-sub-title">评论设置</h4>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="commentPrivacy" id="allComment" {% if user.comment_range_id==1 %}
                                           checked
                                    {% endif %} value="1">
                                    <label class="form-check-label" for="allComment">全部</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="commentPrivacy" id="halfYearComment" {% if user.comment_range_id==2 %}
                                           checked
                                    {% endif %} value="2">
                                    <label class="form-check-label" for="halfYearComment">半年</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="commentPrivacy" id="monthComment" {% if user.comment_range_id==3 %}
                                           checked
                                    {% endif %} value="3">
                                    <label class="form-check-label" for="monthComment">一月</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="commentPrivacy" id="threeDaysComment" {% if user.comment_range_id==4 %}
                                           checked
                                    {% endif %} value="4">
                                    <label class="form-check-label" for="threeDaysComment">三天</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="commentPrivacy" id="hiddenPost" {% if user.comment_range_id==5 %}
                                           checked
                                    {% endif %} value="5">
                                    <label class="form-check-label" for="hiddenPost">隐藏</label>
                                </div>
                            </div>
                            <hr class="bg-primary">
                            <div>
                                <h4 class="user-sub-title">收藏设置</h4>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="collectPrivacy" id="allCollect" {% if user.collect_range_id==1 %}
                                           checked
                                    {% endif %} value="1">
                                    <label class="form-check-label" for="allCollect">全部</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="collectPrivacy" id="halfYearCollect" {% if user.collect_range_id==2 %}
                                           checked
                                    {% endif %} value="2">
                                    <label class="form-check-label" for="halfYearCollect">半年</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="collectPrivacy" id="monthCollect" {% if user.collect_range_id==3 %}
                                           checked
                                    {% endif %} value="3">
                                    <label class="form-check-label" for="monthCollect">一月</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="collectPrivacy" {% if user.collect_range_id==4 %}
                                           checked
                                    {% endif %} id="threeDaysCollect" value="4">
                                    <label class="form-check-label" for="threeDaysCollect">三天</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="collectPrivacy" {% if user.collect_range_id==5 %}
                                           checked
                                    {% endif %} id="hiddenPost" value="5">
                                    <label class="form-check-label" for="hiddenPost">隐藏</label>
                                </div>
                            </div>
                            <hr class="bg-primary">
                            <div>
                                <h4 class="user-sub-title">私信设置</h4>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="contactPrivacy" id="allMessage" {% if user.contact_range_id==1 %}
                                           checked
                                    {% endif %} value="1">
                                    <label class="form-check-label" for="allMessage">全部</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="contactPrivacy" id="follower" {% if user.contact_range_id==6 %}
                                           checked
                                    {% endif %} value="6">
                                    <label class="form-check-label" for="follower">关注我的</label>
                                </div>
                            </div>
                            <hr class="bg-primary">
                            <div class="text-right">
                                <input type="submit" class="btn btn-success">
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </main>
    </body>
{% endblock %}