{% extends "frontend/base.html" %}
{% from "macro.html" import user_page_header, user_page_header_ul, chat_content with context %}
{% block title %}
    {{ current_user.nickname }}的个人主页
{% endblock %}
{% block head %}
    {{ super() }}
    {{ moment.locale(auto_detect=True) }}
    <style>

        .top-right > p {
            font-weight: bold;
            font-size: 16px;
            padding-left: 5px;
            position: absolute;
            top: 15px
        }

        .top > p {
            position: absolute;
            top: 15px;
            left: 94px;
        }

        .ul-list-person {
            padding: 0;
            height: 500px;
            list-style: none;
            max-height: 500px;
            overflow-y: scroll;
        }

        .div-item {
            padding: 3px 15px 3px 15px;
            margin-top: 5px;
        }


        .p-contact-person {
            margin-bottom: 2px;
        }

        .div-msg-content > p {
            margin-bottom: 2px;
        }

        .div-chat {
            display: none;
        }

        /*滚动条样式*/
        ::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, .1);
            border-radius: 0;
        }

        ::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 10px;
            height: 10px;
        }

        ::-webkit-scrollbar-thumb {
            cursor: pointer;
            border-radius: 5px;
            background: rgba(0, 0, 0, .25);
            transition: color .2s ease;
        }

        .div-chat-outer {
            height: 350px;
            max-height: 500px;
            overflow-y: auto;
        }

        .div-chat-content {
        }

        .msg-active {
            display: block;
        }

        .write {
            padding: 10px;
            top: 500px;
        }

        .trash {
            flex-grow: 1;
        }
    </style>
{% endblock %}
{% block content %}
    <body>
    <main>
        <div class="container mt-2">
            <div class="row">
                <div class="col-md-3">
                    <div class="d-flex">
                    {{ user_page_header('私信') }}
                        <a href="{{ url_for('user.contact', user_id=current_user.id) }}" class="btn btn-primary ml-2">返回私信列表</a>
                    </div>
                </div>
                <div class="col-md-8 mt-2">
                    {% include "_flash.html" %}
                    <div class="div-left-person right ">
                        <div class="top-right d-flex align-items-center p-1">
                            <label class="flex-grow-1 mb-0"><b>{{ person.nickname }}</b></label>
                            <label id="deleteRecord" data-person="person{{ person.id }}" class="mb-0 span-hand" data-toggle="modal" data-target="#confirmDeleteRecord"><i class="fa fa-trash"></i></label>
                        </div>
                        <div class="div-chat-outer">
                            <div class="div-chat-content">
                                {% for pm in pms %}
                                    {% if pm.sender_id == current_user.id %}
                                        <div class="d-flex flex-row-reverse mb-2 mr-1">
                                            <img class="img-profile-bg-50 ml-1"
                                                 src="{{ current_user.avatar }}"
                                                 alt="{{ current_user.nickname }}">
                                            <div class="div-msg-content msg-right">
                                                <small><b>{{ pm.c_time }}</b></small>
                                                <p style="font-size: 14px">{{ pm.content }}</p>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="d-flex mb-2 ml-1">
                                            <img class="img-profile-bg-50"
                                                 src="{{ pm.send_user.avatar }}"
                                                 alt="{{ pm.send_user.nickname }}">
                                            <div class="div-msg-content msg-left">
                                                <small><b>{{ pm.c_time }}</b></small>
                                                <p style="font-size: 14px">{{ pm.content }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="write">
                            <div class="text-center">
                                <p class="p-hint-error">请输入消息内容！</p>
                            </div>
                            <textarea class="form-control h-100" id="messageBox"
                                      placeholder="请输入需要发送的消息,按Alt+Enter键发送"></textarea>
                            <div class="mt-1 text-right">
                                <button class="btn btn-primary" onclick="sendMessage()">发送</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </body>
    <div class="modal fade" id="confirmDeleteRecord" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">确认?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>确定删除该记录吗?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
                    <button class="btn btn-danger btn-confirm" id="deleteBtn" onclick="deleteRecord()">删除</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            scrollToBottom()
        })
        let receiverID = "{{ receiver_id }}"

        function sendMessage() {
            let messageContent = $("#messageBox").val().trim()

            if (messageContent === '') {
                $(".p-hint-error").slideDown(500).delay(2000).hide(500)
                return false
            }
            $(".div-chat-content").append(
                `<div class="d-flex flex-row-reverse mb-2 mr-1">
                <img class="img-profile-bg-50 ml-1" src="{{ current_user.avatar }}" alt="{{ current_user.nickname }}">
                <div class="div-msg-content">
                <small><b>${moment().format("YYYY-MM-DD HH:mm:ss")}</b></small>
                <p style="font-size: 14px">${messageContent}</p>
                <small id="sendHint" class="text-primary"><b>正在发送</b><i class="fa fa-spin fa-spinner"></i></small>
                </div>
                </div>`
            )
            $.ajax({
                url: "{{ url_for('user.send_message') }}",
                type: "post",
                data: {
                    'message': messageContent,
                    'receiverID': receiverID,
                    'senderID': "{{ current_user.id }}"
                },
                success: function (res) {
                    if (res.code === 200) {
                        $("#sendHint").text(res.msg)
                        $("#messageBox").val('')
                        scrollToBottom()
                        setTimeout(function () {
                            $("#sendHint").remove()
                        }, 2000)

                    } else {
                        $("#sendHint").text(res.msg)
                    }
                }
            })
        }

        function scrollToBottom() {
            let div = document.getElementsByClassName('div-chat-outer')[0]
            div.scrollTop = div.scrollHeight
        }

        function deleteRecord() {
            let person = document.getElementById('deleteRecord').dataset.person
            $.ajax({
                url: "{{ url_for('.delete_msg_records') }}",
                type: "post",
                data: {'person': person.split('person').pop()},
                success: function (res) {
                    if (res.code === 200) {
                        window.location = '{{ url_for('user.contact', user_id=current_user.id) }}'
                    }
                }
            })

        }
    </script>
{% endblock %}