{% extends "frontend/base.html" %}
{% from "macro.html" import profile_header, profile_moment, render_pagination, post_list with context %}
{% block head %}
    {{ super() }}
    <style>

        .a-title {
            font-size: 22px;
            font-weight: bold;
        }

        .a-title-sm {
            font-size: 16px;
            font-weight: bold;
        }

        .f-12-b {
            font-weight: bold;
            font-size: 12px;
        }

        .span-hand {
            cursor: pointer;
        }

    </style>
{% endblock %}

{% block title %}
    {{ user.nickname }}的个人主页
{% endblock %}
{% block content %}
    {{ moment.locale(auto_detect=True) }}
    <body>
    <main>
        <div class="container mt-2">
            {% include "_flash.html" %}
            {{ profile_header() }}
            {{ profile_moment('帖子') }}
            {% if posts %}
                <div class="mt-2">
                    {{ post_list(posts) }}
                    {% if user.range_post.name != '全部' %}
                        <div class="mt-2 text-center">
                            <p class="text-muted"><b>该用户仅展示最近{{ user.range_post.name }}的帖子</b></p>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                {% if current_user.id == user.id %}
                    <div class="text-center mt-5">
                        <p class="text-muted">你还没有发送过帖子!</p>
                    </div>
                {% else %}
                    <div class="text-center mt-5">
                        {% if user.post|length %}
                            {% if user.range_post.name == '隐藏' %}
                                <p class="text-muted"><b>该用户{{ user.range_post.name }}了帖子</b></p>
                            {% else %}
                                <p class="text-muted"><b>该用户仅展示最近{{ user.range_post.name }}的帖子</b></p>
                            {% endif %}
                        {% else %}
                            <p class="text-muted"><b>他还没有发送过帖子!</b></p>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
            {% include "follow-modal.html" %}
        </div>
    </main>
    </body>

    <!-- Modal -->
    <div class="modal fade" id="privacyChat" tabindex="-1" aria-labelledby="privacyChat" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="privacyChatTitle"></p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <p id="noContent" class="p-hint-error">请输入私信内容!</p>
                        <p id="sendSuccess" class="p-hint">私信发送成功!</p>
                    </div>
                    <textarea name="messageContent" class="form-control" id="messageContent" cols="30" rows="10"
                              placeholder="请输入私信内容"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="sendPrivacyLetter()" id="sendPrivateMessage">发送</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        let flag = false
        let senderID = null
        let receiverID = null
        $("#privacyChat").on("show.bs.modal", function (event) {
            let button = $(event.relatedTarget)
            let userId = button.data('userid')
            if (flag){
                return
            }
            $.ajax({
                url: "{{ url_for('user.get_user_info') }}",
                type: 'post',
                data: {userId: userId},
                success: function (res) {
                    if (res.code === 200) {
                        $("#privacyChatTitle").html(`给<b>${res.nickname}</b>发送私信`)
                        flag = true
                        receiverID = userId
                        senderID = res.sender
                    }
                }
            })
        })

        function sendPrivacyLetter() {
            let message = $("#messageContent").val().trim()
            if (message === ''){
                $("#noContent").slideDown(500).delay(2000).hide(500)
                return
            }
            let $btn = $("#sendPrivateMessage")
            $btn.attr('disabled', true)
            $btn.html('正在发送<i class="fa fa-spin fa-spinner"></i>')
            $.ajax({
                url: "{{ url_for('user.send_message') }}",
                type: "post",
                data: {"message": message, senderID: senderID, receiverID: receiverID},
                success: function (res){
                    if (res.code === 200){
                        $("#sendSuccess").slideDown(500).delay(2000).hide(500)
                        $("#messageContent").val('')
                    }
                    $btn.attr('disabled', false)
                    $btn.text('发送')
                }
            })
        }
    </script>
{% endblock %}
