{% extends "frontend/base.html" %}
{% from "macro.html" import profile_header, profile_moment, comment_list with context %}
{% block head %}
    {{ super() }}
    <style>
        .img-profile-bg {
            border-radius: 5px;
            height: 150px;
            width: 150px;
            background-size: cover;
            background: no-repeat center;
        }

        @media screen and (max-width: 567px) {
            .img-profile-bg {
                height: 75px;
                width: 75px;
            }

            .div-center-md {
                text-align: center;
            }
        }

    </style>
{% endblock %}

{% block title %}
    {{ user.nickname }}的个人主页
{% endblock %}
{% block content %}
    <body>
    <main>
        {{ moment.locale(auto_detect=True) }}
        <div class="container mt-2">
            {% include "_flash.html" %}
            {{ profile_header() }}
            {{ profile_moment('评论') }}
            {% if comments %}
                <div class="mt-2">
                    {{ comment_list(comments) }}
                    {% if user.range_comment.name != '全部' and current_user.id != user.id %}
                        <div class="mt-2 text-center">
                            <p class="text-muted"><b>该用户仅展示最近{{ user.range_comment.name }}的评论</b></p>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                {% if current_user.id == user.id %}
                    <div class="text-center mt-5">
                        <p class="text-muted">你还没有发送过评论!</p>
                    </div>
                {% else %}
                    <div class="text-center mt-5">
                        {% if user.comments|length %}
                            {% if user.range_comment.name == '隐藏' %}
                                <p class="text-muted"><b>该用户隐藏了帖子评论！</b></p>
                            {% else %}
                                <p class="text-muted"><b>该用户仅展示最近{{ user.range_comment.name }}的帖子评论</b></p>
                            {% endif %}
                        {% else %}
                            <p class="text-muted">他还没有发送过评论!</p>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}

        </div>
    </main>
    </body>
    {% include "frontend/profile/contact-modal.html" %}

{% endblock %}
