{% extends "frontend/base.html" %}
{% from "macro.html" import profile_header, profile_moment, render_pagination with context %}
{% block head %}
    {{ super() }}
    <style>
        .img-profile-bg{
            border-radius: 5px;
            height: 150px;
            width: 150px;
            background-size: cover;
            background: no-repeat center;
        }

        @media screen and (max-width: 567px){
            .img-profile-bg{
                height: 75px;
                width: 75px;
            }
            .div-center-md{
                text-align: center;
            }
        }

        .a-title{
            font-size: 22px;
            font-weight: bold;
        }

        .a-title-sm{
            font-size: 16px;
            font-weight: bold;
        }

        .ul-posts{
            border-radius: 5px;
        }

        .f-12-b{
            font-weight: bold;
            font-size: 12px;
        }

    </style>
{% endblock %}

{% block title %}
    {{ user.nickname }}的个人主页
{% endblock %}
{% block content %}
    {{ moment.locale(auto_detect=True) }}
    <body>
    <main>
        <div class="container mt-2">
            {% include "_flash.html" %}
            {{ profile_header() }}
            {{ profile_moment('收藏') }}
            {% if collects %}
                <div class="mt-2">
                    <ul class="list-group list-group-flush ul-posts">
                        {% for collect in collects %}
                            <li class="list-group-item">
                                <div class="d-flex flex-row-reverse">
                                    <!-- 如果当前登录用户id与post的作者id一致则显示帖子操作按钮 -->
                                    {% if current_user.id == user.id %}
                                        <a class="mb-1 text-decoration-none mr-2" href="#" id="commentEmoji" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </a>
                                        <div class="dropdown-menu" x-placement="left" aria-labelledby="commentEmoji">
                                            <a class="dropdown-item" href="{{ url_for('profile.uncollect', post_id=collect.post.id) }}">取消收藏</a>
                                        </div>
                                    {% endif %}
                                    <a href="{{ url_for('post.read', post_id=collect.post.id) }}" class="d-none d-sm-block text-decoration-none a-title flex-grow-1">{{ collect.post.title|striptags|truncate(25, True) }}</a>
                                    <a href="{{ url_for('post.read', post_id=collect.post.id) }}" class="d-sm-none d-block text-decoration-none a-title-sm flex-grow-1">{{ collect.post.title|striptags|truncate(15, True) }}</a>
                                </div>
                                <p>{{ collect.post.textplain|striptags|truncate(100) }}</p>
                                <div class="d-flex">
                                    <a class="text-muted text-decoration-none f-12-b" href="{{ url_for('profile.index', user_id=collect.post.author_id) }}"><i class="fa fa-user mr-1"></i>作者:{{ collect.post.user.nickname }}&nbsp;&nbsp;</a>
                                    <a class="text-muted text-decoration-none f-12-b"><i class="fa fa-heart mr-1"></i>收藏({{ collect.post.collects }})&nbsp;&nbsp;</a>
                                    <a class="text-muted text-decoration-none d-none d-sm-block  f-12-b"><i class="fa fa-comment-o mr-1"></i>评论({{ collect.post.comments|length }})&nbsp;&nbsp;</a>
                                    <a class="text-decoration-none ml-2 text-muted flex-grow-1 text-left f-12-b" >
                                        <span data-toggle="tooltip" data-placement="right" data-timestamp="{{ collect.timestamps }}" data-delay="500" data-original-title="" title="{{ collect.timestamps }}">{{ moment(collect.timestamps, local=True).fromNow(refresh=True) }}</span>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    {% if  tag > 1 %}
                        <div class="float-right mt-1">
                            {{ render_pagination(pagination, size='sm') }}
                        </div>
                    {% endif %}
                </div>
            {% else %}
                {% if current_user.id == user.id %}
                    <div class="text-center mt-5">
                        <p class="text-muted">你还没有收藏过帖子!</p>
                    </div>
                {% else %}
                    <div class="text-center mt-5">
                        <p class="text-muted">他还没有收藏过帖子!</p>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </main>
    </body>
{% endblock %}
